body{
    background-color: gray;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* Calculator */
.calculator{
    background-color: black;
    width: 420px;
    height: 650px;
    display: flex;
    flex-flow: column;
    align-self: center;
    border-radius: 40px;
    align-items: stretch;
    padding: 25px;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 5px 3px 10px greenyellow;
    gap: 15px;
}

/* Display */

.display{
    background-color: azure;
    height: 150px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    font-size: 60px;
    box-shadow: 0px 0px 5px whitesmoke;
    opacity: 0.9;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Buttons */
.buttons{
    background-color: black;
    flex: 1 1 0;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    padding: 12px 0px 10px 0px;
    gap: 15px;

}

.btn{
  width: 80px;
  background-color: rgb(165, 162, 162);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  box-shadow: 1px 1px 5px white;
  text-shadow: 0px 0px 3px white;
  transition: 0.2s;
}

.btn.right{
    background-color: rgb(145, 225, 24);
    opacity: 0.9;
}

.btn.top{
    background-color: rgb(246, 200, 16);
    opacity: 0.9;
}

.btn:hover{
    width: 82px;
    margin: 0px -1px 0px -1px;
}

.btn:active{
   transform: scale(0.95);
   transition: none;
}

